body {
    text-align: center;
    width:100%;
}

.container {
    padding-right: 2%;
    padding-left: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

#footer {
    text-align: center;
    padding: 7% 15%;
    color: #8f8f8f;
}

.foot-ico {
    color: black;
    margin: 20px 10px;
}

@media (min-width: 768px) {
    .container {
        padding: left 2% right 2%;
        margin: left 2% right 2%;
    }
}